
{{!-- {{data.count}} --}}
  <li class="mdl-list__item mdl-list__item--three-line questionnaire-listed">
    <span class="mdl-list__item-primary-content" data-id={{id}}>
      <i class="material-icons">question_answer</i>
      <span>{{name}}</span>
      <span class="mdl-list__item-text-body">
        {{type}} | description
      </span>
    </span>
    <span class="mdl-list__item-secondary-content" data-id={{id}}>
         {{#if @first}} <span class="mdl-list__item-secondary-info">Active</span> {{/if}}
      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">check_box</i></a>
    </span>
  </li>
