<div class="mdl-layout mdl-js-layout">
    <header class="mdl-layout__header">
        <div class="mdl-layout-icon">
        </div>
            <div class="mdl-layout__header-row">
                <span class="mdl-layout__title">Questionnaire</span>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation">
                    <a href="index.html" class="mdl-navigation__link">Home</a>
                    <a href="about page link" class="mdl-navigation__link">About</a>
                </nav>
            </div>
    </header>

    <div class="mdl-layout__drawer">
        <span class="mdl-layout__title">Navigation</span>
        <nav class="mdl-navigation">
            <a href="index.html" class="mdl-navigation__link">Home</a>
            <a href="about page link" class="mdl-navigation__link">About</a>
        </nav>
    </div>

    <main class="mdl-layout__content">
        <div id="questionnaire-form">
            <form id="questionnaire">
                <div class="mdl-cell mdl-cell--11-col">
                    <br>
                    {{#each questionData}}
                    <div class="{{#if dataValues.isConditional}} hidden {{/if}}" data-parent="{{dataValues.conditionalQuestionId}}" data-unhide="{{dataValues.unhideValue}}">
                    
                    <strong>{{dataValues.id}}.</strong>
                    <strong>{{dataValues.questionEn}}</strong> <br>
                    <select id="responseDropDown{{dataValues.id}}" class="mdl-cell responseDropDown" data-question-id="{{dataValues.id}}">
                    {{#each dataValues.AuxOptions}}
                    <option value="{{id}}">{{optionEn}}</option>
                    {{/each}}
                    </select> <br> <br>
                    </div>
                    {{/each}}
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="submit">Submit</button>
                    <br>
                </div>
            </form>
        </div>
    </main>
</div>

<script src="/js/questionnaire.js">
    
</script>


