<main class="quest-admin mdl-layout__content">
    <div class="mdl-grid questionnaires-grid">

        <div id="questionnaire-form">
            <form id="questionnaire">
                <div class="mdl-cell mdl-cell--11-col">
                    <br>
                    {{#each questionData}}
                    <div class="{{#if dataValues.isConditional}} hidden {{/if}}"
                        data-parent="{{dataValues.conditionalQuestionId}}" data-unhide="{{dataValues.unhideValue}}">

                        {{!-- <strong>{{dataValues.id}}.</strong> --}}
                        <strong>{{dataValues.questionEn}}</strong> <br>
                        <select id="responseDropDown{{dataValues.id}}" class="mdl-cell responseDropDown"
                            data-question-id="{{dataValues.id}}">
                            {{#each dataValues.AuxOptions}}
                            <option value="{{id}}">{{optionEn}}</option>
                            {{/each}}
                        </select> <br> <br>
                    </div>
                    {{/each}}
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                        id="submit">Submit</button>
                    <br>
                </div>
            </form>
        </div>
    </div>
</main>


<script src="/js/questionnaire.js">

</script>