<main class="quest-admin mdl-layout__content">
    <div class="mdl-grid questionnaires-grid">
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--8-col">
            <div class="questionnaire__title">
                Express Entry
            </div>

            <div class="questionnaire__instructions">
                Answer all questions to simulate your position in the Canadian Express Entry ranking system.
            </div>

            <form id="questionnaire">
                {{#each questionData}}
                <div class="{{#if dataValues.isConditional}} hidden {{/if}}"
                    data-parent="{{dataValues.conditionalQuestionId}}" data-unhide="{{dataValues.unhideValue}}">

                    <strong>{{dataValues.questionEn}}</strong> <br>

                    <div class="mdl-textfield mdl-js-textfield getmdl-select">
                        <input type="text" value="" class="mdl-textfield__input" id="responseDropDown{{dataValues.id}}"
                            data-question-id={{dataValues.id}} readonly>
                        <input type="hidden" value="" name="responseDropDown{{dataValues.id}}">
                        <label for="responseDropDown{{dataValues.id}}" class="mdl-textfield__label"></label>
                        <ul for="responseDropDown{{dataValues.id}}" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                            {{#each dataValues.AuxOptions}}
                            <li class="mdl-menu__item" data-val={{id}}>{{optionEn}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                {{/each}}

                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                    id="submit">Submit</button>
                <br>
            </form>
        </div>
    <div class="mdl-cell mdl-cell--2-col"></div>
</main>


<script src="/js/questionnaire.js">

</script>